{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
    <div class="banner">
        <div>
            <div class="banner-hero">
                Trouvez <span class="text-secondary">l'université</span> de vos rêves
            </div>
            <div class="banner-text">Explorez, comparez et choisissez la meilleure voie pour votre avenir !</div>
            <div class="banner-box">
                <form class="form-flex mb-2">
                    <input type="text" class="form-control" placeholder="Chercher un etablissement">
                    <button class="btn-primary"><i class="bi bi-search py-2"></i></button>
                </form>
                <a href="{{ path('etablishment_home')}}" class="link text-primary text-strong">Toutes les etablissements <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        <div class="banner-illustration">
            <img src="/images/illustrations/banner7.png" alt="">
        </div>
    </div>

    <div class="home__section bg-light">
        <div class="section-illustration">
            <img src="/images/illustrations/banner11.png" alt="illustration">
        </div>
        <div>
            <h3 class="section-title">Votre guide vers l'université idéale</h3>
            <div class="mt-2">
                <p>Notre plateforme est conçus pour simplifier la recherche universitaire des étudiants en leur offrant un accès à une large sélection d'établissements et des filières</p>
                <p>Nous vous fournissons toutes les informations nécessaires pour comparer les options et prendre les décisions éclairées.</p>
                <div class="grid-2 mt-5" style="gap: 20px;">
                    <div class="card home__card">
                        <div class="card-header">
                            <i class="bi bi-bank2 card-icon"></i>
                            <div class="card-title">+300 Etablissements</div>
                        </div>
                        <div class="card-body">
                            Plus de 300 établissements inscrits pour vous aider à trouver la meilleur options pour vos études
                        </div>
                    </div>
                    <div class="card home__card">
                        <div class="card-header">
                            <i class="bi bi-award-fill card-icon"></i>
                            <div class="card-title">+78 Filières</div>
                        </div>
                        <div class="card-body">
                            Explorez plus de 78 filières pour trouver celle qui correspond à vos passions et à vos objectifs
                        </div>
                    </div>
                </div>
                <a href="{{ path('etablishment_home')}}" class="btn-primary mt-5">Explorez maintenant</a>
            </div>
        </div>
    </div>

    <div class="etablishment__section">
        <div class="etablishment__section-header">
            <div>
                <h3 class="section-title">Etablissements les plus visitées</h3>
                <p>Découvrez les universités les plus populaires auprès de nos visiteurs</p>
            </div>
            <div class="home__filter">
                <div class="nav bg-light">
                    {% for province in provinces %}
                        <a href="{{ path('etablishment_home', {province: province})}}" class="nav-item">{{ province }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="grid__auto-fill" style="--min-column: 250px; --gap:20px;">
            {% for etab in etablishments %}
                {% include "etablishment/_card.html.twig" %}
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="#" class="btn-primary mt-5">Afficher tous<i class="bi bi-arrow-right"></i></a>
        </div>
    </div>

    <div class="home__section bg-light">
        <div>
            <div class="section-title">Donnez de la visibilité à votre université sur notre plateforme</div>
            <p>
                Inscrivez votre université sur notre plateforme et profitez d'une visibilité accumulée auprès de milliers d'étudiants potentiels qui recherchent activement les meilleurs institutions pour leurs études.
            </p>
            <a href="#" class="btn-primary mt-5">S'inscrire gratuitement</a>
        </div>
        <div class="section-illustration">
            <img src="/images/illustrations/banner23.png" alt="illustration">
        </div>
    </div>
{% endblock %}
