:root{
    --bg: #f6fafbfb;
    --bg-light: #fff;
    --color: #273952;
    --primary: #0052cc;
    --primary-inversed: #fff;
    --secondary: #e6ac00;
    --secondary-inversed: #fff;
    --border: #eaeef1;
    --form-border: #e0e4e7;
    --space: 5px;
    --danger: rgb(216, 80, 80);
    --danger-inversed: #fff;
    --success: rgb(24, 110, 99);
    --success-inversed: #fff;
    --card-padding: 15px;
    --shadow: rgba(129, 129, 129, 0.15);
    --container-padding: 15px;
    --section-padding: 40px;
}