.etablishment__header{
    background-color: var(--bg-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: space(4);
    padding-bottom: space(4);
    border-bottom: 1px solid var(--border);

    .form-select, .form-control{
        background-color: var(--bg);
    }
}

.filiere-filter{
    display: none;
}

.etablissement__listing-header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: space(3);
    padding: space(4) 0px;
    
    @include up(720px){
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: space(8) 0px;

        .filter-box{
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 1;
        }
    }
}

.filter-box-content{
    background-color: var(--bg-light);
    padding: space(2);
    border-radius: 4px;
    border: 1px solid var(--border);
}

@include up(500px){
    .etablishment__search-form{
        width: 300px;
    }
}
@include up(700px){
    .filiere-filter{
        display:block;
    }
}

@include up(900px){
    .etablishment__header{
        padding-top: space(6);
        padding-bottom: space(6);
    }
    
    .etablishment__search-form{
        width: 450px;
    }
}