.banner{
    @extend %section;
    position: relative;
    display: flex;
    align-items: center;
}

.banner-hero{
    font-size: 3em;
    line-height: 1.4;
    color: var(--primary);
}

.banner-text{
    font-size: 1.4em;
    margin-top: space(2);
    line-height: 2;
}

.banner-box{
    background-color: var(--bg-light);
    padding: space(3) space(3);
    border-radius: 4px;
    box-shadow: 0 0 20px var(--shadow);
    margin-top: space(5);
}

.banner-illustration{
    display: none;
}

.home__section{
    @extend %section;
}

.section-illustration{
    display: none;
}

.section-title{
    width: fit-content;
    font-size: 1.6em;
    color: var(--primary);

    &::after{
        display: block;
        content: "";
        width: 50%;
        height: 2px;
        background-color: var(--primary);
        margin-top: .4em;
        margin-bottom: .6em;
    }
}

.home__card{
    border: none;
    box-shadow: 0 0 8px var(--shadow);
    
    .card-header{
        text-align: center;
    }

    .card-title{
        color:var(--primary);
    }

    .card-icon{
        font-size: 4em;
    }
}

@include up(900px){
    .banner{
        display: grid;
        grid-template-columns: 3fr 4fr;
    }

    .banner-hero{
        font-size: 4em;
    }

    .banner-text{
        font-size: 1.8em;
    }

    .banner-illustration{
        display: block;
        margin-left: 80px;

        img{
            width: 95%;
        }
    }

    .home__section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section-illustration{
        display: block;
        text-align: center;

        img{
            width: 70%;
        }
    }

    .section-title{
        font-size: 2em;
    }
}