.profil__header{
    @extend %container;
    padding-top: space(4);
    padding-bottom: space(4);
    background-color: var(--bg-light);
    position: relative;
    display: flex;
    align-items: center;

    &::after{
        position: absolute;
        left: var(--container-padding);
        right: var(--container-padding);
        bottom:0;
        display: block;
        content: "";
        z-index: 10;
        border-bottom: 1px solid var(--border);
    }

    .etablishment-name{
        line-height: 1.2em;
        font-size: 2.2em;
    }

    .etablishment-name-def{
        font-size: 1.1em;
    }
}

.slogan{
    display: none;
}

.profil__nav{
    @extend %container;
    background-color: var(--bg-light);
    border-bottom: 1px solid  var(--border);

    .nav-item{
        padding-top: space(3);
        padding-bottom: space(3);
    }
}

.profil__body{
    @extend %container;
    margin-top: space(3);
}

.profil__sidebar{
    display: none;
}

.profil__info{
    margin-bottom: space(5);
}

.profil__info-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: space(1.5);

    .btn{
        background-color: white;
    }

    .icon{
        color: rgb(10, 127, 204);
        background-color: rgba(65, 105, 225, .2);
        font-size: .75em;
        padding: space(1.2) space(1.4);
        border-radius: 50%;
    }
}

.profil__box{
    background-color: var(--bg-light);
    padding: space(3) space(2);
    border: 1px solid var(--border);
    border-radius: 4px;
}

.profil__adress-card{
    background-color: var(--bg);
    color: var(--primary);
    padding: space(2);
    border-radius: 4px;
}

@include down(720px){
    table.formation__table tr td:last-child, table.formation__table thead th:last-child{
        display: none;
    }
}

@include up(900px){
    .profil__header{
        padding-top: space(6);
        padding-bottom: space(6);

        .etablishment-name{
            font-size: 3.2em;
            line-height: 1.2 ;
        }

        .etablishment-name-def{
            font-size: 1.3em;
        }
    }

    .profil__body{
        display: grid;
        grid-template-columns: 5fr 3fr;
        margin-top: space(4);
    }

    .profil__sidebar{
        display: block;
        margin-left: space(6);
        height: min-content;
    }

    .actu__card{
        background-color: var(--bg-light);
        padding: space(2) space(4);
        border: 1px solid var(--border);
        border-radius: 4px;
    }

    .slogan{
        display: inline-block;
        background-color: rgba(66, 201, 167, .2);
        color: rgb(13, 204, 115);
        font-size: 2em;
        margin: auto;
        padding: space(3) space(5);
        border-radius: 5px;
    }
}