<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Bachelors | {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('dist/app.css')}}">
            <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.min.css">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('dist/app.js')}}" defer></script>
        {% endblock %}
    </head>
    <body>
        <header class="header" id="header">
            <div class="header-logo"><i class="bi bi-layers icon"></i>Université.mada</div>
            <nav class="header-nav">
                <a href="{{ path('app_home')}}" class="header__nav-item {%if page == 'home' %} active {%endif%}"><i class="bi bi-window-dock icon"></i>Accueil</a>
                <a href="{{ path('etablishment_home')}}" class="header__nav-item {%if page == 'etablishment' %} active {%endif%}"><i class="bi bi-layers icon"></i>Etablissements</a></li>
                <a href="#" class="header__nav-item {%if page == 'inscription' %} active {%endif%}"><i class="bi bi-file-text icon"></i>Comment s'inscrire?</a></li>
                <span class="header__nav-item"><a href="#" class="btn-primary-outlined">Connexion</a></span>
            </nav>
            <burger-menu class="burger" parent= "#header"></burger-menu>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
