%badge{
    display: inline-flex;
    align-items: center;
    padding: .3em .6em;
    border-radius: 5px;
    font-size: .85em;
    line-height: 1em;
}

.badge{
    @extend %badge;
    background-color: gainsboro;
    color: rgb(26, 26, 26);
}

.badge-primary{
    @extend %badge;
    background-color:#cce0ff;
    color: #0052cc;
}

.badge-secondary{
    @extend %badge;
    background-color: #ffebcc;
    color: #ff9900;
}

.badge-tierciary{
    background-color: rgba(189, 189, 189, 0.3);
    color: rgb(100, 100, 100);
    @extend %badge;
}

.badge-success{
    @extend %badge;
    background-color: #dbffee;
    color: #008044;
}

.badge-danger{
    background-color: rgba(243, 133, 133, 0.3);
    color: rgb(216, 80, 80);
    @extend %badge;
}

.badge-rounded{
    border-radius: 50px!important;
}

.badge-small{
    font-size: .8em;
    padding: .2em .4em;
}