$width: 1.4rem;
$height: 1px;
$margin: .4rem;

.burger{
    cursor: pointer;

    span{
        display: block;
        width: $width;
        height: $height;
        margin: $margin;
        background-color:var(--color);
        transition: .3s;
    }
}

//burger animation
@mixin animateBurgerIcon($spanHeight:1px, $spanMargin:.3rem){
    $translate: calc(#{$spanMargin} + #{$spanHeight});

    &>*:first-child{
        transform: translateY($translate) rotate(45deg);
    }
    
    &>*:nth-child(2){
        background-color: green!important;
        opacity: 0;
    }

    &>*:last-child{
        transform: translateY(calc($translate * -1)) rotate(-45deg);
    }
}

.is-open .burger{
    @include animateBurgerIcon($height, $margin);
}
