.card, %card{
    padding: var(--card-padding);
    background-color: var(--bg-light);
    border-radius: 4px;
    border: 1px solid var(--border);
    transition: .3s;
}

.card{
    position: relative;
}

.card-bg{
    @extend %bg;
}

.card-header{
    padding-bottom: calc(var(--card-padding) / 2);
    border-bottom: 1px solid var(--border);
    font-weight: bold;
}

.card-body{
    padding: calc(var(--card-padding) / 2) 0px;
}

.card-title{
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.6;
}

.card-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: .3s;

    &:hover{
        border-color: var(--primary);
    }
}

.card-icon{
    font-size: 2em;
}


